/* Container's styling */
#cont_rem_remote{
  background: #e3f2fd;
  padding: 2%;
  border-radius: 1rem;

  position:relative;
  top:30%;
 
  width: 60%;


}

.mmenu{
  margin-top: 0px;
}

#cont_rem_remote > h1{
    text-align: center;
    margin-bottom: 40px;
    color: #495057;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

#cont_rem_remote > date {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.rem_remote{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
